<div style="display: inline-block; background: white; width: 100%;">
  <div style="width: 1200px; margin: 0 auto; text-align: left">
    <ul style="margin-top: 20px;">
      <li style="color: darkgrey;">English (UK)</li>

      <li><a class="_sv4" dir="ltr"
             title="Hindi">हिन्दी</a></li>
      <li><a class="_sv4" dir="ltr"
             title="Punjabi">ਪੰਜਾਬੀ</a></li>

      <li><a class="_sv4" dir="rtl"
             title="Urdu">اردو</a></li>
      <li><a class="_sv4" dir="ltr"
             title="Tamil">தமிழ்</a></li>

      <li><a class="_sv4" dir="ltr"
             title="Bengali">বাংলা</a></li>
      <li><a class="_sv4" dir="ltr"
             title="Marathi">मराठी</a></li>
      <li><a class="_sv4" dir="ltr"
             title="Telugu">తెలుగు</a></li>
      <li><a class="_sv4" dir="ltr"
             title="Gujarati">ગુજરાતી</a></li>
      <li><a class="_sv4" dir="ltr"
             title="Kannada">ಕನ್ನಡ</a></li>
      <li><a class="_sv4" dir="ltr"
             title="Malayalam">മലയാളം</a></li>
      <li><a class="_42ft _4jy0 _517i _517h _51sy" role="button" rel="dialog"
             title="Show more languages"><i class="img sp_lbWj69LqQFT sx_21ec69"></i></a></li>
    </ul>

    <div id="contentCurve"></div>
    <div role="contentinfo" aria-label="Facebook site links" id="js_0">
      <ul class="uiList _509- _4ki _6-h _703 _6-i" style="width: 100%">
        <li><a title="Sign up for Facebook">Sign Up</a></li>
        <li><a title="Log in to Facebook">Log In</a></li>
        <li><a title="Check out Messenger.">Messenger</a></li>
        <li><a title="Facebook Lite for Android.">Facebook Lite</a></li>
        <li><a title="Check out Facebook Mobile.">Mobile</a></li>
        <li><a title="Find anyone on the web.">Find Friends</a></li>
        <li><a title="Browse our people directory.">People</a></li>
        <li><a title="Browse our Pages directory.">Pages</a></li>
        <li><a title="Check out popular places on Facebook.">Places</a></li>
        <li><a title="Check out Facebook games.">Games</a></li>
        <li><a title="Browse our places directory.">Locations</a></li>
        <li><a title="Browse our Public figures &amp; celebrities directory.">Celebrities</a></li>
        <li><a title="Browse our Marketplace product directory.">Marketplace</a></li>
        <li><a title="Browse our Groups directory.">Groups</a></li>
        <li><a title="Browse our recipes directory.">Recipes</a></li>
        <li><a title="Browse our Sports directory.">Sports</a></li>
        <li><a title="Browse our Look directory.">Look</a></li>
        <li><a
          title="Take a look at Moments." target="_blank" rel="noopener nofollow" data-lynx-mode="async">Moments</a>
        </li>
        <li><a
          title="Take a look at Instagram" target="_blank" rel="noopener nofollow"
          data-lynx-mode="asynclazy">Instagram</a></li>
        <li><a
               title="Read our blog, discover the resource centre and find job opportunities.">About</a></li>
        <li><a
               title="Advertise on Facebook">Create ad</a></li>
        <li><a title="Create a Page">Create Page</a></li>
        <li><a title="Develop on our platform.">Developers</a></li>
        <li><a title="Make your next career move to our brilliant company.">Careers</a></li>
        <li><a data-nocookies="1"  title="Learn about your privacy and Facebook.">Privacy</a>
        </li>
        <li><a title="Learn about cookies and Facebook." data-nocookies="1">Cookies</a></li>
        <li><a class="_41ug" data-nocookies="1"
               title="Learn about AdChoices.">AdChoices<i class="img sp_lbWj69LqQFT sx_4010ed"></i></a></li>
        <li><a data-nocookies="1" accesskey="9" title="Review our terms and policies.">Terms</a>
        </li>
        <li><a accesskey="0" title="Visit our Help Centre.">Help</a></li>
        <li><a class="accessible_elem" accesskey="6" title="View and edit your Facebook settings.">Settings</a>
        </li>
        <li><a class="accessible_elem" accesskey="7"
               title="View your activity log">Activity Log</a></li>
      </ul>
    </div>
    <div>
      <div style="margin-left: 40px; color: darkgrey;"><span> Facebook © 2017</span></div>
    </div>
  </div>
</div>
