<div style="display: inline-block; float: right; margin-right: 10%">
  <form class="">
    <div style="display: inline-block">
      <label for="email" style="display: block; color: white;">Email or Phone</label>
      <input type="email" class="form-control" id="email" style="background-color:white;">
    </div>
    <div style="display: inline-block">
      <label for="pwd" style="display: block; color: white;">Password</label>
      <input type="password" class="form-control" id="pwd" style="background-color: white;">
    </div>
    <button class="btn" style="background-color: #4466af; color: white; border-color: black;">Log In</button>
    <a style="display: block; color: #9cb4d8; margin-left: 43%">Forgotten account ?</a>
  </form>
</div>
