<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="text-align:center">
    <app-top-bar></app-top-bar>
  </div>

  <div class="aParent">
    <div style="margin-left: 10%; width: 40%;">
      <app-image-part></app-image-part>
    </div>

    <div style="margin-left: 3%; width: 40%; margin-bottom: 35px;">
      <h2><b>Create an account</b></h2>
      <p>It's free and always will be.</p>
      <app-signup-form></app-signup-form>
    </div>
  </div>
  <br>
  <br>
  <app-footer></app-footer>
</div>
