<div class="well" style="background-color: #3b5998; width: 100%; height: 100px; text-align: left; position: relative;">
  <b><p style="font-size: 40px; display: inline-block; margin-left: 170px; color: white; position: absolute; bottom: 0; left: 0;">facebook</p></b>
  <app-login-form></app-login-form>
</div>
